android/* linguist-vendored
assets/* linguist-vendored
ios/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
test/* linguist-vendored
web/* linguist-vendored
windows/* linguist-vendored

*.cc linguist-detectable=false
*.cpp linguist-detectable=false
*.cmake linguist-detectable=false